* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// FONTE 

$font-tec: 'Share Tech Mono', monospace;
$green: #64ffda;

:root {  
    --dark-navy: #020c1b;
    --lightest-navy: #384663;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --green: #64ffda;
    --green-tint: rgba(26, 59, 52, 0.1);
}

// .dark-mode:root {
//     --dark-navy: #020c1b;
//     --lightest-navy: #303C55;
//     --slate: #8892b0;
//     --light-slate: #a8b2d1;
//     --lightest-slate: #ccd6f6;
//     --green: #64ffda;
//     --green-tint: rgba(26, 59, 52, 0.1);
// }

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* Container que pega tudo */
.container-geral {
    width: 100%;
    background-color: var(--dark-navy);
}


/* Delimita o site */
.container-principal {
    max-width: 1300px;
    margin: 0 auto;

    position: relative;
}

/* CLASSES */

.section-titulo {
    p {
        font-size: 30px;
        color: var(--lightest-slate);
        font-family: $font-tec;
        p::after {
            content: '';
            display: inline-block;
            position: relative;
            width: 300px;
            height: 1px;
            background-color: var(--lightest-navy);
            margin-left: 20px;
            margin-bottom: 7px;
        }

        span {
            color: var(--green);
        }
    }
}

@keyframes backtop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(1px);
    }
}
