footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(135deg, var(--green), var(--green-tint));
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 900;
    font-family: $font-tec;

    font-size: clamp(1.5rem, 1.5vw, 3rem);
}
