@keyframes animationHome {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home {
    padding: 110px 30px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-family: $font-tec;
    }

    p:nth-child(1) {
        color: var(--green);
        font-size: clamp(1.5rem, 2vw, 8rem);
        margin-top: 30px;
        
    }

    p:nth-child(2) {
        color: var(--slate);
        margin-top: 30px;
        font-size: clamp(3rem, 5vw, 20rem);
        letter-spacing: clamp(0.5rem, 1vw, 1rem);
        font-weight: 1000;
        
    }

    p:nth-child(3) {
        color: var(--lightest-navy);
        margin-top: 10px;
        font-size: clamp(2.5rem, 4vw, 10rem);
        letter-spacing: clamp(0.3rem, 1vw, 1rem);
        font-weight: 1000;
        display: inline-block;
        
        
        &::after {
            content: '|';
            letter-spacing: clamp(0.3rem, 1vw, 1rem);
            color: var(--green);
            animation: animationHome 1.3s infinite ;
        }
    }

    p:nth-child(4) {
        margin-top: 10px;
        color: var(--lightest-navy);
        width: 100%;
        font-size: clamp(1.7rem, 2vw, 10rem);
        display: block;
    }

    .button-contact {
        padding-top: 70px ;
    }

    a {
        border: 1px solid var(--green);
        text-decoration: none;
        padding-left: clamp(2.5rem, 3vw, 8rem);
        padding-right: clamp(2.5rem, 3vw, 8rem);
        padding-top: clamp(2.5rem, 2vw, 5rem);
        padding-bottom: clamp(2.5rem, 2vw, 5rem);

        font-size: clamp(1.5rem, 1.5vw, 5rem);

        border-radius: 5px;
        color: var(--green);
        transition: .3s;
        font-family: $font-tec;
        &:hover {
            background-color: var(--green-tint);
        }
    }
    
}

