// RESPONSIVIDADE

// HEADER 

@media only screen and (max-width: 800px) {


    [data-menuHamb].active {
        transform: scale(1.3);
        transition: all .5s;

        [data-menu] {
            transition: all .5s;
            position: relative;
        }
    
        [data-menu="1"] {
            transform: rotate(45deg) translate3d(6px, 5px, 0);
        }
        
        [data-menu="2"] {
            opacity: 0;
        }
    
        [data-menu="3"] {
            transform: rotate(135deg) translate3d(-12px, 13px, 0);
        }
    }




    .header {
        padding: 10px 20px;
        display: flex;

        .logo img {
            height: 60px;
            position: absolute;
            left: 20px;
            top: 20px;
        }

        ul{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100px;
            width: 0%;
            left: 0;
            transition: all .5s;
        }
    }
    
    .header ul.active li,
    .header ul.active {
        width: 100%;
    }

    .header ul.active li a {
        display: block !important;
    }

    .header ul li {
        list-style: none;
        width: 0%;
        transition: .5s;
        background-color: rgba(	100, 255, 218, 1 );
        border-bottom: 1px solid var(--dark-navy);
        position: relative;
    }

    .header ul li a {
        width: 100%;
        padding: 0;
        position: absolute;
        padding-left: 20px;
        color: var(--dark-navy);
        display: none;
    }

    .header ul li::after{
        content: '';
        display: none;
    }       

    .header ul li a:hover {
        color: var(--dark-navy);
    }

    .header .menu-hamb {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 35px;
        right: 30px;
        height: 22px;
        width: 30px;
    }

    .header .menu-hamb span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background-color: var(--green);
        transition: 0.25s ease-in-out;
    }

    .header label .menu-hamb span:nth-child(1) {
        top: 0;
    }

    .header .menu-hamb span:nth-child(2) {
        top: 8px;
    }

    .header .menu-hamb span:nth-child(3) {
        top: 16px;
    }

    .back-top {
        position: fixed;
        left: 20px;
        bottom: 20px;
        height: 40px;
        width: 50px;
        border: 2px solid $green;
        background-color: var(--dark-navy);
        border-radius: 5px;
        display: flex;
        cursor: pointer;
        opacity: 0;
        transition: all .5s;

        z-index: 99;
    }
    
    .back-top a {
        color: $green;
        width: 100%;
        height: 100%;
        font-size: 20px;
        animation: backtop 0.8s infinite;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

// HOME 

@media (min-width: 1111px) and (max-width: 2000px) {
    .home {
        p:nth-child(4) {
            width: 60%;
        }
    }
}

@media (max-width: 1110px) {

    .home {
         p:nth-child(4) {
            width: 70%;
        }
    }
}

@media (max-width: 840px) {

    .home {
        p:nth-child(4) {
            width: 60%;
        }
        .section-titulo p::after {
            content: '';
            display: none;
        }
    }
   
}

@media (max-width: 730px) {

    .home {
        p:nth-child(4) {
            width: 80%;
        }
    }
}


@media (max-width: 550px) {

    .home {
        p:nth-child(4) {
            width: 100%;
            margin-top: 20px;
        }
    }
}    
 @media (max-width: 409px) {
     .home {
         padding: 110px 10px 100px 10px;
     }
 }

 // SOBRE - MIM 

@media (min-width: 1440px) {
    .sobre-mim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 50px;
        

        .sobre-mim-left{
            .tecnologias {
                .mobile {
                    display: none;
                }
    
                .mobile2 {
                    justify-self: end;
                    display: block;
                }
                
                .mobile2 span {
                    margin-left: 10px;
                }
            }
        }

        .sobre-mim-right {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;

            img {  
                height: 500px;
                width: 50%;
                min-width: 300px;
                position: relative;
                border: 3px solid var(--green-tint);
                border-radius: 20%;

                object-fit: cover;
            }

            .perfil {
                opacity: 1;
            }

            .perfilverde {
                display: none;
            }
        }
    }
}

@media (max-width: 1110px) {
    .sobre-mim {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 50px;
        margin: 10px;

        .sobre-mim-left{
            .tecnologias {
                .mobile {
                    display: none;
                }
    
                .mobile2 {
                    justify-self: end;
                    display: block;
                }
                
                .mobile2 span {
                    margin-left: 10px;
                }
            }
        }

        .sobre-mim-right {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;

            img {  
                height: 300px;
                width: 50%;
                min-width: 300px;
                position: relative;
                border: 3px solid var(--green-tint);
                border-radius: 20%;
            }

            .perfil {
                opacity: 1;
            }

            .perfilverde {
                display: none;
            }
        }
    }
}

@media (max-width: 476px) {
    .sobre-mim {
        .sobre-mim-right img {  
            height: 200px;
        }
    }
}

@media (max-width: 476px) {
    .sobre-mim{
        .sobre-mim-left{
            .tecnologias p {
                font-size: 15px;
            }
        }
    } 
}

@media (max-width: 409px) {
    .sobre-mim {
        padding: 30px;
        margin: 0px;
        .sobre-mim-right img {  
            width: 50%;
            min-width: 200px;
        }
    }
}

// PROJETOS 


@media (max-width: 1110px) {
    .projetos {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 50px;
        transition: 0.4s;

        .section-titulo::before {
            content: "";
            display: none;
        }

        .content-project {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .content--individual {
                padding-bottom: 0px;
                max-width: 600px;
                display: flex;
                flex-direction: column;

                &:hover {
                    transform: scale(1);
                }

                .content-left {
                    display: block;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    width: 100%;
                    img {
                        margin: 0;
                        object-fit: cover;
                        border-radius: 30px;

                        width: 100%;

                        box-shadow: 0px 5px 7px 0px var(--green);
                    }

                   
                }

                .content-right {
                    padding-bottom: 0;
                    h1 {
                        text-align: center;
                        font-size: 4rem;
                        letter-spacing: 4px;
                    }

                    .content-inside {
                        p {
                            width: 100%;
                            font-size: 1.5rem;

                            padding: 10px 0 20px 0;
                        }
                    }

                    .go-to-site {
                        width: 100%;
                        padding: 2px;

                        a + a {
                            margin-top: 3px;
                        }

                        a {
                            display: flex;
                            flex-direction: column;

                            width: 100%;

                            background-color: var(--green);
                            color: var(--dark-navy);
                            font-weight: bold;

                            border: 1px solid var(--dark-navy);
                        }
                        
                        .repositorio {
                            border-radius: 0px 0px 30px 30px;
                        }
                    }
                }
            }
        }
    }
    .go-to-site {
        display: block;
    }
}


// @media (max-width: 476px) {
//     .projetos{
//         .content-project {
//             .content--individual {
//                 .content-left img {
//                     height: 200px;
//                     width: 250px;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 426px) {
    .projetos {
        padding: 10px;
        margin: 0 auto;
        .content-project {
            .content--individual {
                padding: 20px;
                min-width: 250px;


                .content-right h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 375px) {

    .projetos {
        .content-project {
            .content--individual {


                .content-left {
                    
                    img {
                        height: 200px;
                        object-fit: cover;
                    }
                }

                .content-right {
                    h1 {
                        font-size: 30px;
                    }

                    .content-inside p {
                        font-size: 15px;
                    }
                }

               
            }    
        }
    }
}
    


// CONTATO

@media (max-width: 800px) {
    
    .contato {
        
        .redes-sociais nav a {
            &:hover {
                transform: translateY(0px);
            }
            &:nth-child(1):hover {
                background-image: url('/assets/img/imgsRedes/facebook1.png');
            }
            &:nth-child(2):hover {
                background-image: url('/assets/img/imgsRedes/instagram1.png');
            }
            &:nth-child(3):hover {
                background-image: url('/assets/img/imgsRedes/linkedin1.png');
            }
            &:nth-child(4):hover {
                background-image: url('/assets/img/imgsRedes/whats1.png');
            }
        }   
    }
}

@media (max-width: 725px) {
    
    .contato {
        padding-bottom: 80px;
        .redes-sociais nav a {
            width: 70px;
            height: 70px;
            background-size: cover;
        }
    }
}

@media (max-width: 476px) {
    .contato {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 30px;
        transition: .4s;
        
        .contato-titulo h1 {
            font-size: 15px;
        }
    }
}

@media (max-width: 353px) {
    .contato {
        .redes-sociais nav a {
            width: 50px;
            height: 50px;
        }
    }
}

// FOOTER

@media (max-width: 476px) {
    footer {
        padding: 10px;
    }
    footer p {
        font-size: 12px;
    }
}

@media (max-width: 353px) {
    footer p {
        font-size: 10px;
    }
}